<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneworld.back.dao.MenuDao">
    <resultMap id="menuMap" type="com.oneworld.back.utils.model.One2Many">
            <id column="menuCode" property="menuCode"/>
            <result column="menuName" property="menuName"/>
            <collection property="permissions" ofType="com.alibaba.fastjson.JSONObject">
                <id column="permissionId" property="permissionId"/>
                <result column="permissionCode" property="permissionCode"/>
                <result column="permissionName" property="permissionName"/>
            </collection>
    </resultMap>
    <select id="getMenuList" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject">
        select
        id id,
        menu_code menuCode,
        menu_name menuName,
        permission_code permissionCode,
        permission_name permissionName,
        delete_status deleteStatus
        from
        sys_permission
        where delete_status = 1
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="countMenus" resultType="Integer">
        SELECT count(0)
        FROM sys_permission p
        where p.delete_status = 1
    </select>

    <select id="countPermissionEachMenu" resultType="Integer">
        SELECT count(menu_code) FROM sys_permission p GROUP BY menu_code
    </select>

    <update id="deleteMenu">
        update sys_permission
        set
        delete_status= #{deleteStatus}
        where
        id = #{id}
    </update>

    <insert id="addMenu" parameterType="com.alibaba.fastjson.JSONObject">
        insert into
        sys_permission(menu_code,menu_name,permission_code,permission_name,required_permission)
        values
        (#{menuCode},#{menuName},#{permissionCode},#{permissionName},#{requiredPermission})
    </insert>

    <update id="updateMenu" parameterType="com.alibaba.fastjson.JSONObject">
         update sys_permission
        set
        menu_code = #{menuCode},
        menu_name = #{menuName},
        permission_code = #{permissionCode},
        permission_name = #{permissionName}
        where
        id = #{id}
    </update>
</mapper>
